Package: com.trantu2641.screencrop16
Name: ScreenCrop16
Version: 1.1.7
Architecture: iphoneos-arm64e
Description: Screen geometry and corner/periphery tweak for roothide iOS 16.4.
Maintainer: trantu2641
Author: trantu2641
Section: Tweaks
Priority: optional
Depends: mobilesubstrate
